h1{
    font-family:'Times New Roman', Times, serif
    

}
table{
    align-content: center;
    width: 1200px;
    height: 600px;
    

}
body{
    background-color: cornsilk;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  h5{
    align-content: top;
  }

  td{
    vertical-align: top;
  }
