table{
    align-content: center;
    width: 1210px;
    height: 280px;
        
}
.aa{
    align-content: center;
    width: 1210px;
    height: 20px;
        
}

.bb{
    width: 500px;  
}